---
import { db, fighterData } from "astro:db";

const fighterDatas = await db.select().from(fighterData);
---

<h2>Data:</h2>

{
  fighterDatas.map(({ name, belt, age, weight, height, bio }) => (
    <div class="case">
      <p>Name: {name}</p>
      <p>Belt: {belt}</p>
      <p>Age: {age}</p>
      <p>Weight: {weight}</p>
      <p>Height: {height}</p>
      <p>Bio: {bio}</p>
    </div>
  ))
}

<style>
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #171717;
    color: whitesmoke;
  }

  .case {
    display: flex;
    max-width: 1000px;
    align-self: center;
    border-color: white;
    border-style: solid;
    margin: 5px;
  }

  p {
    width: 150px;
    max-width: 250px;
  }
</style>
