---
const { fighterData } = Astro.props;
import { Image } from 'astro:assets';

---

<div class="mainCase">
  <div class="imgPart">
    
    <Image src={fighterData.image} alt=""/>
  
  
  </div>
  <div class="textPart">
    <div class="name">
      <div class="nickName">
        {fighterData.name} <br />
        <span class="belt">{fighterData.belt} belt</span>
      </div>
    </div>
    <div class="stats">
      <!--Age stat -->
      <div class="age">
        {fighterData.age} <br />
        <span>Age</span>
      </div>
      <!--Weight stat -->
      <div class="weight">
        {fighterData.weight} kg <br />
        <span>Weight</span>
      </div>
      <!--Height stat -->
      <div class="height">
        {fighterData.height} cm <br />
        <span>Height</span>
      </div>
    </div>
    <div class="bio">
     {fighterData.bio}
    </div>
  </div>
</div>
  <style>
    .mainCase {
      border-style: solid;
      border-color: black;
      display: flex;
      gap: 25px;
      border-radius: 0.8em;
      height: 200px;
      max-width: 450px;
      width: 100%;
      padding: 25px;
      font-family: monospace;
      font-size: medium;
      background-color: black;
    }

    .imgPart {
      display: flex;
      width: 150px;
    }

    .imgPart img {
      border-radius: 0.8em;
      max-width: 100%; /* Obrázek se přizpůsobí šířce divu */
      height: auto; /* Necháme výšku obrázku automaticky podle jeho šířky */
    }

    .textPart {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      width: 350px;
    }

    .nickName,
    .stats,
    .bio {
    }

    .stats {
      display: flex;
      justify-content: space-between;
    }

    span {
      color: violet;
    }
  </style>

